/*
 * Mobile CSS
 */
	/* resets */
		* 		{ margin:0; padding:0; }
		body	{
			font:62.5%/1.25 Helvetica, Arial, sans-serif;
			background:#000;
		}
		ul	 	{ list-style:none; }
		a 		{ text-decoration:none; }

	/* global */
		#horizon {
			position:absolute;
			left: 0px;
			text-align: center;
			top: 50%;
			width: 100%;
			
			margin-top: -160px;
			min-width: 480px;
		}
		
		#wrapper {
			margin: 0px auto;
			position: relative;
			text-align: left;
			background: -webkit-gradient(linear,left bottom,left top,color-stop(0.09, rgb(0,0,0)),color-stop(0.78, rgb(122,122,122)));
			
			height: 320px;
			width: 480px;
		}
		
		
		/* header */
			header {
				overflow:auto;
			}
		
			h1 {
				font-size:24px;
				color:#f4f4f4;
				margin:5px 10px;
				float:left;
			}
			
			h2 {
				float:right;
				font-size:16px;
				margin:8px 10px;
			}
		
			h2 a {
				display:block;
			}
		
			h2 a span {
				display:block;
				float:right;
				margin:2px 0 0 5px;
				width:16px;
				height:16px;
				border-radius:8px;
			}
		
			h2 a {
				color:#ccc;
			}
			h2 a span,
			ul#vol li a span {
				background:#ccc;
				/*-webkit-box-shadow: 0px 0px 10px #fff;*/
			}

			h2 a.mute-on {
				color:#0f4;
			}
			h2 a.mute-on span,
			ul#vol li.active a span {
				background:#0f4;
				-webkit-box-shadow: 0px 0px 20px #0f4;
			}
		
		
		/* vol */
			ul#vol {
				clear:both;
			}
			
			ul#vol li {
				float:left;
				position:relative;
				height:100%;
			}
			
			ul#vol li a,
			ul#vol li a span {
				display:block;
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				bottom:0;
				/*background:#f90;*/
				text-indent:-9999px;
			}
						
			ul#vol li#vol-0 a span { height:1%;}
			ul#vol li#vol-10 a span { height:10%;}
			ul#vol li#vol-20 a span { height:20%;}
			ul#vol li#vol-30 a span { height:30%;}
			ul#vol li#vol-40 a span { height:40%;}
			ul#vol li#vol-50 a span { height:50%;}
			ul#vol li#vol-60 a span { height:60%;}
			ul#vol li#vol-70 a span { height:70%;}
			ul#vol li#vol-80 a span { height:80%;}
			ul#vol li#vol-90 a span { height:90%;}
			ul#vol li#vol-100 a span { height:100%;}
			
			ul#vol li#vol-80.active a span { 
				background:#fe0;
				-webkit-box-shadow: 0px 0px 20px #fe0;
			}
			ul#vol li#vol-90.active a span { 
				background:#f90;
				-webkit-box-shadow: 0px 0px 20px #f90;
			}
			ul#vol li#vol-100.active a span { 
				background:#f00;
				-webkit-box-shadow: 0px 0px 20px #f00;
			}
		
		
		/* loader */	
			span#loading {
				position:absolute;
				right:5px;
				bottom:5px;
				display:block;
				width:16px;
				height:16px;
				background-image:url(../../img/site/ajax-loader-black.gif);
				background-position:right bottom;
				background-repeat:no-repeat;
				display:none;
			}
			
			span#loading.show {
				display:block;
			}
		
		
	/* landscape (as default) */
		/*@media (max-width: 480px) {*/
			body {
				/*background:red;*/
			}
			
			header {
				margin-bottom:20px;
			}
			
			#horizon {
				margin-top:-104px;
			}
	
			#wrapper {
				width:480px;
				height:208px; /* 320 - bumf */
			}
			
			ul#vol {
				height:110px;
				margin:0 30px;
			}
			
			ul#vol li {
				width:30px;
				margin-right:7px;
			}
		/*}*/
		
	/* portrait */	
		@media (max-width: 320px) {
			body {
				/*background:blue;*/
			}
			
			header {
				margin-bottom:40px;
			}
			
			#horizon {
				min-width: 320px;
				margin-top: -178px;
			}
			
			#wrapper {
				width:320px;
				height:356px; /* 480 - bumf */
			}
			
			ul#vol {
				height:230px;
				width:297px;
				margin:0 auto;
				padding:0;
			}
			
			ul#vol li {
				width:20px;
				margin-right:7px;
			}
		}